<section class="header">
  <h1 class="header__title center">
    Ping pong league table
  </h1>
</section>

<section class="main">

  <h3 class="main__title">Leaderboard:</h3>

  <div class="add-player" ng-if="vm.showAddPlayerContainer">
    <form novalidate>
      <label class="add-player__label" for="new-player-name">Name:</label>
      <input class="add-player__inputfield" type="text" id="new-player-name" ng-model="vm.newPlayerName" />
      <button class="add-player__button" ng-click="vm.addPlayer(vm.newPlayerName)">+</button>
    </form>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="table__header table__header--small">#</th>
        <th class="table__header table__header--small"></th>
        <th class="table__header table__header--large">
          <span class="left">Name</span>
          <a class="right" ng-click="vm.showAddPlayer()">Add player</span>
        </th>
        <th class="table__header table__header--medium">Won</th>
        <th class="table__header table__header--medium">Lost</th>
        <th class="table__header table__header--medium">Won / Lost %</th>
        <th class="table__header table__header--medium">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="player in vm.players | limitTo: vm.nrOfPlayersShowing">
        <td class="table__cell">{{ player.rank }}</td>
        <td class="table__cell"></td>
        <td class="table__cell">
          <div class="table__cell--image"></div>
          <span class="table__cell--player">{{ player.name }}</span>
        </td>
        <td class="table__cell">{{ player.won }}</td>
        <td class="table__cell">{{ player.lost }}</td>
        <td class="table__cell">{{ player.won / player.lost || "N/A" }}</td>
        <td class="table__cell">{{ player.points }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="table__footer" colspan="7">
          <a ng-click="vm.loadMorePlayers()">
            Load more ({{ vm.nrOfPlayersShowing }} / {{ vm.players.length }})
          </a>
        </td>
      </tr>
    </tfoot>
  </table>

</section>

<section class="footer">

  <div class="add-game">

    <h3>Add games</h3>

    <select class="add-game__select"
            ng-model="vm.firstPlayerInGame"
            ng-options="player.name for player in vm.players">
    </select>

    <span class="add-game__vs">VS</span>

    <select ng-model="vm.secondPlayerInGame" ng-options="player.name for player in vm.players"></select>

    <span class="add-game__score-label">Score (max. of 5)</span>

    <input class="add-game__inputfield"
           type="text"
           id="new-game-player-one-score"
           ng-model="vm.newGamePlayerOneScore" />

    <input class="add-game__inputfield"
           type="text"
           id="new-game-player-two-score"
           ng-model="vm.newGamePlayerTwoScore" />

    <button ng-click="vm.addGame()">Add game</button>

  </div>
</section>
