// Variables

$default-padding: 10px;

$small-margin: 10px;
$default-margin: 15px;
$large-margin: 2 * $default-margin;

$default-border: 1px solid #eee;
$dark-border: 1px solid #000;

// Helpers

.center__container {
  margin: 0 auto;
}

.text__left {
  text-align: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

// Common

.header,
.main,
.footer {
  @extend .center__container;

  padding: 0 30px;
  width: 1000px;
}

button,
input {
  height: 30px;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

// Header

.header {
  // background-image: url(../images/jan_owe_waldner_background.jpg);
  background-color: limegreen;
  height: 100px;
  font-size: 1.5em;
}

.header__title {
  padding-top: 20px;
  text-align: center;
}

// Main

.main__title {
  font-size: 18px;
  padding-bottom: 20px;
  text-align: center;
  margin: $default-margin;
}

.add-player {
  padding: $default-padding;
}

.add-player__label {
  display: block;
}

.add-player__inputfield {
  width: 300px;
}

.table {
  width: 100%;
}

.table__header {
  background-color: #E4E4E4;
  border: $default-border;
  padding: $default-padding;
}

.table__header--small {
  width: 4%;
}

.table__header--medium {
  width: 12%;
}

.table__cell {
  border: $default-border;
  padding: $default-padding;
  text-align: center;
  vertical-align: middle;
}

.table__cell--player {
  float: left;
  margin-left: $default-padding;
  height: 20px;
  line-height: 20px;
}

.table__cell--image {
  background-image: url(../images/default_player_logo.png);
  width: 20px;
  height: 20px;
  float: left;
}

.table__footer {
  border: $default-border;
  text-align: center;
  padding: $default-padding;
}

// Footer

.footer {
  height: 400px;
  margin-top: 2 * $default-margin;
}

// Latest games

.latest-games__title {
  text-align: center;
  margin: $large-margin;
}

.latest-games__game {
  margin-bottom: $large-margin;
  height: 50px;
  position: relative;
}

.latest-games__player {
  margin-bottom: $small-margin;
}

.latest-games__set-label {
  border-right: $dark-border;
  margin-right: 5px;
}

.latest-games__remove {
  position: absolute;
  right: 20px;
  top: 18px;
  text-decoration: none;
}

// Add games

.add-games,
.latest-games {
  width: 50%;
  float: left;
  text-align: center;
  border-top: $default-border;
}

.add-games {
  border-left: $default-border;
}

.add-games__title {
  text-align: center;
  margin: $large-margin;
}

.add-games__select {
  width: 175px;
}

.add-games__score {
  text-align: center;
  width: 50px;
}

.add-games__score-label {
  display: block;
  margin-bottom: $default-margin;
  margin-top: $default-margin;
}

.add-games__submit {
  display: block;
  margin: $default-margin auto;
}
